.wrapper
  width: 60%
  margin: 0 auto
  text-align: center

  .btn
    margin: 0 10px

  .table-header-icon
    margin-right: 2px
    width: 14px

.modal-dialog
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

  .modal-body
    justify-content: space-between
    flex-wrap: wrap
    width: 360px

    .modal-row
      display: flex
      justify-content: space-between

      .modal-input
        margin-top: 4px
        width: 60%
