<div class="wrapper">
  <h1 class="heading">{{title}}</h1>
  <div class="form-group form-inline">
    Search: <input class="form-control ml-2" type="text" name="searchTerm" (keyup)="filterFunction($event)"/>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th (click)="sortFunction('mark')"> 
        <img src="assets/arrow.svg" class="table-header-icon" 
        [style.opacity]="(sortOrder !== '' && sortColumn === 'mark') ? '1': '0'"
        [style.transform]="(sortOrder === 'asc') ? 'rotate(180deg)': 'rotate(0deg)'">
        Mark
      </th>
      <th (click)="sortFunction('model')"> 
        <img src="assets/arrow.svg" class="table-header-icon" 
        [style.opacity]="(sortOrder !== '' && sortColumn === 'model') ? '1': '0'"
        [style.transform]="(sortOrder === 'asc') ? 'rotate(180deg)': 'rotate(0deg)'">
         Model
      </th>
      <th (click)="sortFunction('year')"> 
        <img src="assets/arrow.svg" class="table-header-icon" 
        [style.opacity]="(sortOrder !== '' && sortColumn === 'year') ? '1': '0'"
        [style.transform]="(sortOrder === 'asc') ? 'rotate(180deg)': 'rotate(0deg)'">
        Year
      </th>
      <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor=" let car of cars">
      <td>
        {{car.mark}}
      </td>
      <td>
        {{car.model}}
      </td>
      <td>
        {{car.year}}
      </td>
      <td>
        <button (click)="showModalFunction('Edytuj', car.model, car.mark, car.year, car.id)" class="btn btn-info">Edytuj</button> 
        <button (click)="deleteFunction(car.id)" class="btn btn-danger">Usuń</button>
      </td>
    </tr>
    </tbody>
  </table>

  <button (click)="showModalFunction('Dodaj')" class="btn btn-primary">Dodaj</button>
  <div class="modal-dialog" [ngStyle]="{'display': active ? 'block' : 'none' }">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{modalTitle}}</h4>
        <button type="button" class="close" (click)="closeModalFunction()" >&times;</button>
      </div>
      <div class="modal-body">
        <div class="modal-row">
        <span>Marka: </span><input class="modal-input" type="text" value={{newMark}} (keyup)="changeMarkFunction($event)" [style.border-color]="newMarkError ? 'red' : 'black'">
      </div>
        <div class="modal-row">
        <span>Model: </span><input class="modal-input" type="text" value={{newModel}} (keyup)="changeModelFunction($event)" [style.border-color]="newModelError ? 'red' : 'black'">
      </div>
        <div class="modal-row">
        <span>Rok produkcji: </span><input class="modal-input" type="number" value={{newYear}} (keyup)="changeYearFunction($event)" [style.border-color]="newYearError ? 'red' : 'black'">
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addFunction()">Potwierdź</button>
      </div>
    </div>
  </div>
</div>